* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

body {
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  font-family: "Source Sans Pro";
}

button {
  cursor: pointer;
}

a {
  color: rgb(255, 255, 255);
}

.dFdkQm {
  color: rgb(139, 135, 152);
  background: url(images/background.svg) center center repeat fixed rgb(0, 0, 0);
}

.laYsQt {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  padding: 60px 20px 20px;
}

.laYsQt header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 560px;
  margin: 0px auto;
}

.laYsQt header img {
  height: 44px;
  width: auto;
}

.laYsQt header h1 img {
  height: 150px;
}

.laYsQt > div {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
}

.laYsQt > div > p {
  text-align: center;
  font-size: 40px;
  line-height: 55px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: 50px 0px;
}

.bYXwBB {
  display: flex;
  flex-direction: column;
  width: 575px;
}

.bYXwBB > span {
  display: block;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 20px;
}

.bYXwBB > span > span {
  color: rgb(4, 211, 97);
}

.dUdsgC {
  width: 100%;
  max-width: 700px;
  text-align: center;
  padding: 0px 20px;
  margin: 60px auto 0px;
}

.dUdsgC strong,
.dUdsgC span {
  color: rgb(4, 211, 97);
}

.dUdsgC h3 {
  font-size: 25px;
  line-height: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
}

.dUdsgC img {
  max-width: 100%;
  margin: 50px 0px;
}

.dUdsgC p {
  font-size: 18px;
  line-height: 36px;
  color: rgb(170, 170, 170);
}

.dUdsgC p:not(:last-child) {
  margin-bottom: 30px;
}

.jtsELu {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 40px;
  line-height: 38px;
  margin-bottom: 50px;
}

.jtsELu strong {
  color: rgb(4, 211, 97);
}

.hrNGkk {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 720px;
  text-align: center;
  margin: 150px auto 0px;
  padding: 0px 20px;
}

.hrNGkk section {
  display: flex;
  background-color: rgb(20, 18, 25);
  width: 100%;
  max-width: 490px;
  text-align: left;
  padding: 50px;
  margin: 10px 0px 50px;
  border-radius: 5px;
}

.hrNGkk section h1 {
  position: relative;
  margin-right: 50px;
}

.hrNGkk section h1 img {
  width: 150px;
  height: auto;
}

.hrNGkk section article {
  display: flex;
  flex-direction: column;
}

.hrNGkk section article h2 {
  font-size: 20px;
  line-height: 33px;
  color: rgb(0, 232, 104);
}

.hrNGkk section article span {
  font-size: 16px;
  line-height: 31px;
  color: rgb(103, 106, 115);
  margin: 5px 0px 30px;
}

.hrNGkk section article > div {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.hrNGkk section article > div a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgb(4, 211, 97);
  border-radius: 5px;
}

.hrNGkk section article > div a:not(:first-child) {
  margin-left: 10px;
}

.hrNGkk section article > div a img {
  width: 15px;
  height: auto;
}

.hrNGkk > p {
  font-size: 25px;
  line-height: 50px;
  color: rgb(234, 229, 250);
}

.hrNGkk > p strong,
.hrNGkk > span strong {
  color: rgb(4, 211, 97);
}

.hrNGkk > span {
  font-size: 18px;
  line-height: 30px;
  color: rgb(170, 170, 170);
  margin-top: 40px;
}

.becSlW {
  width: 100%;
  max-width: 1000px;
  padding: 0px 20px;
  margin: 100px auto 0px;
}

.becSlW h2 {
  font-size: 36px;
  line-height: 38px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.becSlW > span {
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  margin: -40px 0px 40px;
}

.becSlW > p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 40px;
  text-align: center;
}

.gzsqVk {
  margin-bottom: 10px;
}

.gzsqVk > button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 24px;
  background-color: rgb(20, 18, 25);
  cursor: pointer;
  user-select: none;
  padding: 0px 35px;
  border-radius: 5px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: opacity 150ms linear 0s;
}

.gzsqVk > button span {
  color: rgb(0, 232, 104);
}

.gzsqVk > button strong {
  -webkit-box-flex: 1;
  flex-grow: 1;
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 0px 30px;
}

.gzsqVk > button b {
  width: 15px;
  height: 15px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: url(images/arrow-up.svg) center center no-repeat;
}

.gzsqVk div {
  background-color: rgb(20, 18, 25);
  color: rgb(170, 170, 170);
  font-size: 18px;
  line-height: 36px;
  max-height: 0px;
  padding: 0px 100px;
  transition: all 150ms linear 0s;
  overflow: hidden;
}

.cdRvBx {
  margin-bottom: 10px;
}

.cdRvBx > button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 24px;
  background-color: rgb(20, 18, 25);
  cursor: pointer;
  user-select: none;
  padding: 0px 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: opacity 150ms linear 0s;
}

.cdRvBx > button span {
  color: rgb(0, 232, 104);
}

.cdRvBx > button strong {
  -webkit-box-flex: 1;
  flex-grow: 1;
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 0px 30px;
}

.cdRvBx > button b {
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: url(images/arrow-up.svg) center center no-repeat;
}

.cdRvBx div {
  background-color: rgb(20, 18, 25);
  color: rgb(170, 170, 170);
  font-size: 18px;
  line-height: 36px;
  max-height: 1000px;
  transition: all 150ms linear 0s;
  overflow: hidden;
  padding: 20px 100px;
}

.cdRvBx div strong {
  color: rgb(0, 232, 104);
}

.cdRvBx div a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  padding: 0 10px;
  background-color: rgb(4, 211, 97);
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  margin-bottom: 20px;
}

.cdRvBx div a img {
  width: 15px;
  height: auto;
  margin-right: 5px;
}

.fkOrYB {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 575px;
  padding: 0px 10px;
  margin: 100px auto;
  margin-bottom: 0;
}
